{% extends 'base.html' %}

{% block content %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}



<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ formset.management_form }}
  <div>• Upload your excel file</div><br>
  <hr><br>

  <label for="id_year">Select Year:</label>
  <input type="number" name="year" step="any" id="id_year" required placeholder="Year">







  <div class="file_upload_box" id="HH_fileUpload_form">
    <input type="file" name="households_excel_file" placeholder="Upload excel file" required>
  </div>


  <div id="HH_manual_data_form" style="display: none;">
    <select id="tribename" name="tribe_slug" onchange="toggleForms()">
      <option value="" disabled selected hidden>tribe</option>

      {% for tribe in tribes %}
      <option value="{{tribe.name}}">{{tribe.name}}</option>
      {% endfor %}

    </select>
    <div id="formset">

      <div id="form">

        {% for form in formset %}

        {{ form.as_p }}
        {% endfor %}
      </div>
    </div>

    <button type="button" id="add-form">Add Form</button>
    <button type="button" id="remove-form">Remove Last Form</button>
  </div>

  <!-- <input type="submit" value="Submit"> -->
  <button type="submit" class="tribe_form_submit">Submit</button>
</form>

{% endblock content %}