.frame-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #95cec7;
    width: 720px;
    height: 770px;
    overflow: hidden;
  }
  .tdi-webtool {
    position: relative;
  }
  .main-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .log-in,
  .please-enter-your {
    align-self: stretch;
    position: relative;
    line-height: 150%;
  }
  .log-in {
    letter-spacing: 0.05em;
    font-weight: 600;
    text-shadow: 0.6px 0 0#074c3b, 0 0.6px 0#074c3b, -0.6px 0 0#074c3b,
      0-0.6px 0#074c3b;
  }
  .please-enter-your {
    font-size: var(--font-size-lg-8);
    letter-spacing: 0.1em;
    font-weight: 300;
    color: var(--color-black);
  }
  .log-in-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 17.66px;
    font-size: 32px;
    color: #0a362e;
  }
  .iconamoonprofile-fill {
    width: 9.4px;
    position: relative;
    height: 9.4px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .username {
    position: relative;
    letter-spacing: 0.15em;
    font-weight: 600;
  }
  .username-wrapper {
    flex: 1;
    flex-direction: row;
    align-items: center;
  }
  .frame-container,
  .iconamoonprofile-fill-parent,
  .username-wrapper {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .iconamoonprofile-fill-parent {
    background-color: var(--color-white);
    border-bottom: 0.6px solid var(--color-black);
    box-sizing: border-box;
    height: 29.4px;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 var(--padding-5xs);
    gap: var(--gap-2xs-6);
  }
  .frame-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 30.61px;
    font-size: var(--font-size-5xs-7);
    color: var(--color-silver);
  }
  .login {
    position: relative;
    font-weight: 600;
  }
  .login-btn {
    border-radius: 13.16px;
    background-color: #92c6d6;
    border: 1.2px solid #3a6551;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 23px;
    font-size: var(--font-size-lg-8);
    color: #f8fff8;
  }
  .already-have-an,
  .sign-in {
    position: relative;
    font-weight: 300;
  }
  .sign-in {
    text-decoration: underline;
    color: #0e2e15;
    text-shadow: 0.4px 0 0 rgba(0, 0, 0, 0.1), 0 0.4px 0 rgba(0, 0, 0, 0.1),
      -0.4px 0 0 rgba(0, 0, 0, 0.1), 0-0.4px 0 rgba(0, 0, 0, 0.1);
  }
  .already-have-an-account-parent {
    width: 143px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-size: var(--font-size-4xs-3);
    color: var(--color-black);
    font-family: var(--font-lexend);
  }
  .frame-item {
    width: 26.8px;
    position: relative;
    height: 24.4px;
  }
  .frame-icon,
  .frame-inner {
    width: 25.3px;
    position: relative;
    height: 24.3px;
  }
  .frame-icon {
    width: 25.7px;
    height: 24.7px;
  }
  .frame-div,
  .main-logo-parent {
    width: 94.3px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .main-logo-parent {
    width: 274px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 31px;
  }
  .contact-us,
  .home {
    position: relative;
    letter-spacing: 0.13em;
  }
  .contact-us {
    text-align: center;
  }
  .home-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 34.29px;
  }
  .frame-wrapper {
    width: 545px;
    border-radius: 51.44px 0 0 51.44px;
    background-color: #457875;
    height: 614px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 39.706451416015625px 0 0;
    box-sizing: border-box;
    font-size: var(--font-size-3xs-3);
    color: var(--color-snow);
  }
  .frame-group,
  .frame-parent {
    background-color: var(--color-white);
  }
  .frame-group {
    position: absolute;
    top: calc(50% - 307.2px);
    left: calc(50% - 544.5px);
    border-radius: 51.44px 0 0 51.44px;
    width: 1090px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0 0 100px;
    box-sizing: border-box;
    gap: 156px;
  }
  .frame-parent {
    width: 100%;
    position: relative;
    height: 770px;
    text-align: left;
    font-size: 20.7px;
    color: #000103;
    font-family: var(--font-poppins);
  }
  