{% load static %}





<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'newcss/globallogin.css' %}">
    <link rel="stylesheet" href="{% static 'newcss/login.css' %}">
    
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap"
    />
  </head>
  <body>
    <div class="main-frame">
      <section class="frame-parent">
        <div class="frame-child"></div>
        <div class="f-r-a-m-e">
          <div class="f-r-a-m-e1">
            <div class="f-r-a-m-e2">
              <div class="f-r-a-m-e-wrapper">
                <div class="f-r-a-m-e3">
                  <b class="tdi-webtool">TDI Webtool</b>
                  <div class="log-in-parent">
                    <div class="log-in">Log In</div>
                    <div class="please-enter-your">
                      Please enter your details
                    </div>
                  </div>
                </div>
              </div>
              <div class="h-o-m-e-r-e-s-e-a-r-c-h-t-e-a">
                <div class="f-r-a-m-e-container">
                  
                    {% if not request.user.is_authenticated %}
                    <form method="POST">
                      {% csrf_token %}
                    <div class="f-r-a-m-e5">
                      <div class="f-r-a-m-e6">
                        <div class="iconamoonprofile-fill-parent">
                          <img
                            class="iconamoonprofile-fill"
                            alt=""
                            src="./public/iconamoonprofilefill.svg"
                          />

                          <input
                            class="frame-item"
                            placeholder="Phone Number"
                            type="text"
                            name="phone_number"
                          />
                        </div>
                        <div class="iconamoonprofile-fill-group">
                          <img
                            class="iconamoonprofile-fill1"
                            alt=""
                            src="./public/iconamoonprofilefill-1.svg"
                          />

                          <input
                            class="frame-inner"
                            placeholder="Password"
                            type="password"
                            name="password"
                          />
                        </div>
                      </div>
                      <div class="login-btn"> <button type="submit" class="login-btn1"><div class="login">Login</div></button></div>
                    </div>
                    
                  </form>
                    
                  

                  {% else %}
  <div class="accounts-head" style="text-align: center;">
      You've Already logged in <b>{{user.username}}</b>. Do you want to <a href="{% url 'logout' %}">Logout</a> ?
  </div>
  {% endif %}
                </div>
                <div class="research-gallery">
                  <div class="about-us-frame">
                    <div class="already-have-an">Already have an account?</div>
                    <div class="sign-in">Sign In</div>
                  </div>
                  <div class="social-media-icons">
                    <div class="facebook-icon">
                      <img
                        class="icon-facebook"
                        loading="eager"
                        alt=""
                        src="./public/-icon-facebook.svg"
                      />

                      <img
                        class="icon-twitter-square"
                        loading="eager"
                        alt=""
                        src="./public/-icon-twitter-square.svg"
                      />

                      <img
                        class="icon-youtube-square"
                        loading="eager"
                        alt=""
                        src="./public/-icon-youtube-square.svg"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="h-o-m-e-p-a-g-e">
            <b class="home">HOME</b>
            <b class="research">RESEARCH</b>
            <b class="team">TEAM</b>
            <b class="gallery">GALLERY</b>
            <b class="about-us">ABOUT US</b>
            <b class="contact-us">CONTACT US</b>
          </div>
        </div>
        <div class="frame-div"></div>
      </section>
    </div>
  </body>
</html>

{% comment %} <div class="accountsbox">

  {% if not request.user.is_authenticated %}
  <div class="accounts-head">
      <h2>Login to your account</h2>

  </div>
  <form method="POST">
      {% csrf_token %}

      <div class="form-group">
          <label for="username">Phone Number</label>
          <input type="text" class="form-control" name="phone_number" placeholder="Username">
      </div>

      <div class="form-group">
          <label for="Password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password">
      </div>

      <div class="form-group">
          <a href="#" class="float-right">Forgot password?</a>
          <label class="float-left custom-control custom-checkbox"> <input type="checkbox"
                  class="custom-control-input" checked="">
              <div class="custom-control-label">Remember</div>
          </label>
      </div><br><br>

      <button type="submit" class="btn btn-primary">Login</button><br>
  </form>
  <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>

  {% else %}
  <div class="accounts-head" style="text-align: center;">
      You've Already logged in <b>{{user.username}}</b>. Do you want to <a href="{% url 'logout' %}">Logout</a> ?
  </div>
  {% endif %}
</div> {% endcomment %}