{% extends "base.html" %}
{% block content %}
{% if request.user.is_authenticated %}



       
            <div class="logoutcontainer">
                <form method="POST">
                    {% csrf_token %}
              <main class="frame-parent">
                <section class="frame-child"></section>
                <section class="f-r-a-m-etop-parent">
                  <div class="f-r-a-m-etop">
                    <h1 class="confirm-logout">Confirm logout</h1>
                  </div>
                  <div class="lineseparator">
                    <div class="frameconfirmmessage"></div>
                  </div>
                  <div class="f-r-a-m-elogoutquestion">
                    <h3 class="are-you-sure">Are you sure you want to log out?</h3>
                    <div class="loginbuttongroup">
                      <button class="login-btn">
                        <div class="cancel">Cancel</div>
                      </button>
                      <button class="login-btn1">
                        <div class="ok">Ok</div>
                      </button>
                    </div>
                  </div>
                </section>
              </main>
            </form>
            </div>
         
    
</div>

{% else %}
<div class="accountsbox">
    <div class="accounts-head">
        <h2>You are already logged out.</h2>
    </div>
    <p>Click Here to <a href="{% url 'login' %}">login</a></p>
</div>
{% endif %}

<style>
    body {
        margin: 0;
        line-height: normal;
      }
      
      :root {
        /* fonts */
        --font-poppins: Poppins;
        --font-inter: Inter;
      
        /* font sizes */
        --font-size-13xl: 32px;
        --font-size-lgi: 19px;
        --font-size-7xl: 26px;
      
        /* Colors */
        --color-cadetblue-100: #618c78;
        --gray: #f4f4f4;
        --color-darkslategray-100: #3a6551;
      
        /* Gaps */
        --gap-52xl: 71px;
        --gap-16xl: 35px;
      
        /* Paddings */
        --padding-142xl: 161px;
        --padding-41xl: 60px;
        --padding-11xl: 30px;
        --padding-xl: 20px;
        --padding-4xs-9: 8.9px;
      
        /* Border radiuses */
        --br-18xl: 37px;
        --br-3xl-4: 22.4px;
      }
    .frame-child {
        position: absolute;
        margin: 0 !important;
        top: -76px;
        left: -85px;
        border-radius: var(--br-18xl) var(--br-18xl) 0 var(--br-18xl);
        background-color: #c0d4d0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        flex-shrink: 0;
      }
      .confirm-logout {
        margin: 0;
        position: relative;
        font-size: inherit;
        font-weight: 400;
        font-family: inherit;
        display: inline-block;
        text-shadow: 3px 0 0#1e4c3e, 0 3px 0#1e4c3e, -3px 0 0#1e4c3e, 0-3px 0#1e4c3e;
        max-width: 100%;
      }
      .f-r-a-m-etop {
        width: 760px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 100%;
      }
      .frameconfirmmessage {
        flex: 1;
        position: relative;
        border-top: 6px solid #314f46;
        box-sizing: border-box;
        height: 6px;
        max-width: 100%;
      }
      .lineseparator {
        width: 760px;
        height: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 8px 0 0;
        box-sizing: border-box;
        max-width: 100%;
      }
      .are-you-sure {
        margin: 0;
        position: relative;
        font-size: inherit;
        font-weight: 400;
        font-family: inherit;
        text-shadow: 1.4px 0 0#000, 0 1.4px 0#000, -1.4px 0 0#000, 0-1.4px 0#000;
      }
      .cancel {
        position: relative;
        font-size: var(--font-size-13xl);
        font-weight: 600;
        font-family: var(--font-poppins);
        color: #30442f;
        text-align: left;
      }
      .login-btn {
        cursor: pointer;
        border: 2px solid var(--color-darkslategray-100);
        padding: 8.89301586151123px 0;
        background-color: var(--gray);
        flex: 1;
        border-radius: 22.36px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        min-width: 135px;
      }
      .login-btn1:hover,
      .login-btn:hover {
        background-color: #dbdbdb;
        border: 2px solid var(--color-cadetblue-100);
        box-sizing: border-box;
      }
      .ok {
        position: relative;
        font-size: var(--font-size-13xl);
        font-weight: 600;
        font-family: var(--font-poppins);
        color: #f8fff8;
        text-align: left;
      }
      .login-btn1,
      .loginbuttongroup {
        display: flex;
        justify-content: flex-start;
      }
      .login-btn1 {
        cursor: pointer;
        border: 2px solid var(--color-darkslategray-100);
        padding: 8.89301586151123px 0;
        background-color: #92c6d6;
        flex: 1;
        border-radius: 22.36px;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        min-width: 135px;
      }
      .login-btn1:hover {
        background-color: #5e94a3;
      }
      .loginbuttongroup {
        width: 431px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: var(--gap-52xl);
        max-width: 100%;
      }
      .f-r-a-m-elogoutquestion,
      .f-r-a-m-etop-parent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 100%;
      }
      .f-r-a-m-elogoutquestion {
        align-items: flex-start;
        gap: 113px;
        font-size: 48px;
        color: #1d4d41;
      }
      .f-r-a-m-etop-parent {
        flex: 1;
        border-radius: var(--br-18xl) var(--br-18xl) 0 var(--br-18xl);
        background-color: #ebf4f2;
        overflow: hidden;
        align-items: center;
        padding: 132px var(--padding-xl) var(--padding-142xl) 100px;
        box-sizing: border-box;
        gap: var(--gap-52xl);
        z-index: 1;
        text-align: left;
        font-size: 69px;
        color: #203336;
        font-family: var(--font-inter);
      }
      .frame-parent,
      .logoutcontainer {
        position: relative;
        display: flex;
        flex-direction: row;
      }
      .frame-parent {
        width: 1134px;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 100%;
      }
      .logoutcontainer {
        background-color: #88b8be;
        width: 100%;
        overflow: hidden;
        align-items: flex-end;
        justify-content: flex-end;
        padding: var(--padding-142xl) 120px 119px;
        box-sizing: border-box;
        letter-spacing: normal;
      }
      @media screen and (max-width: 1200px) {
        .logoutcontainer {
          padding-left: var(--padding-41xl);
          padding-right: var(--padding-41xl);
          box-sizing: border-box;
        }
      }
      @media screen and (max-width: 1050px) {
        .confirm-logout {
          font-size: 55px;
        }
        .are-you-sure {
          font-size: 38px;
        }
        .cancel,
        .ok {
          font-size: var(--font-size-7xl);
        }
        .f-r-a-m-etop-parent {
          gap: var(--gap-16xl);
          padding-left: 50px;
          box-sizing: border-box;
        }
      }
      @media screen and (max-width: 750px) {
        .f-r-a-m-elogoutquestion {
          gap: 56px;
        }
        .f-r-a-m-etop-parent {
          padding-top: 86px;
          padding-bottom: 105px;
          box-sizing: border-box;
        }
        .logoutcontainer {
          padding-left: var(--padding-11xl);
          padding-right: var(--padding-11xl);
          box-sizing: border-box;
        }
      }
      @media screen and (max-width: 450px) {
        .confirm-logout {
          font-size: 41px;
        }
        .are-you-sure {
          font-size: 29px;
        }
        .cancel,
        .ok {
          font-size: var(--font-size-lgi);
        }
        .loginbuttongroup {
          gap: var(--gap-16xl);
        }
        .f-r-a-m-elogoutquestion {
          gap: 28px;
        }
        .f-r-a-m-etop-parent {
          gap: 18px;
          padding-left: var(--padding-xl);
          box-sizing: border-box;
        }
      }
      

</style>
{% endblock content %}

