{% extends 'base.html' %}

{% block content %}

<style>
    .main-logo-parent,
    .nav-items {
        color: white;
    }

    .login-btn {
        background-color: var(--color-white);
        color: var(--bs-dark);
    }

    .home:hover {
        font-weight: bold;
    }

    #tribeDropdown:hover,
    #districtDropdown:hover {
        font-weight: bold;
    }
</style>

<div class="profile-child"></div>

<div class="frame-parent22">
    <div class="profile-image-frame">
        <img class="frame-child26" alt="" src="{{user.profile_pic.url}}" />
    </div>

    <b class="profile-name-head">{{profile.first_name}}</b>
    <div class="frame-parent23">
        <div class="my-account-parent">
            <div class="my-account">My Account</div>
            <div class="login-btn3">
                <div class="logout">SETTINGS</div>
            </div>
        </div>
        <div class="frame-parent24">
            <div class="user-information-parent">
                <b class="user-information">User Information</b>
                <div class="frame-parent25-profile">
                    <div class="frame-parent26-profile">
                        <div class="full-name-parent">
                            <div class="profile-credential-head">FULL NAME</div>
                            <div class="profile-credential-box">
                                <div class="profile-credential">{{profile.first_name}} {{profile.last_name}}
                                </div>
                            </div>
                        </div>
                        <div class="full-name-parent">
                            <div class="profile-credential-head">EMAIl</div>
                            <div class="profile-credential-box">
                                <div class="profile-credential">{{profile.email}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="frame-parent26-profile">
                        <div class="full-name-parent">
                            <div class="profile-credential-head">PHONE NUMBER</div>
                            <div class="profile-credential-box">
                                <div class="profile-credential">{{profile.phone_number}}</div>
                            </div>
                        </div>
                        <div class="full-name-parent">
                            <div class="profile-credential-head">AGE</div>
                            <div class="profile-credential-box">
                                <div class="profile-credential">20</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-information-parent">
                <b class="user-information">MY DATA</b>
                <div class="frame-parent28">
                    <div class="frame-parent29-profile">
                        <div class="tribe-wise-data-wrapper">
                            <div class="tribe-wise-data">TRIBE-WISE DATA</div>
                        </div>
                        <div class="frame-wrapper3-profile">
                            <div class="add-parent">
                                <div class="tribe-wise-data">ADD</div>
                                <div class="lets-iconsadd-duotone">
                                    <img class="group-icon" alt="" src="./public/group.svg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="frame-parent30-profile">
                        <div class="district-wise-data-wrapper">
                            <div class="tribe-wise-data">DISTRICT-WISE DATA</div>
                        </div>
                        <div class="frame-wrapper3-profile">
                            <div class="add-parent">
                                <div class="tribe-wise-data">ADD</div>
                                <div class="lets-iconsadd-duotone">
                                    <img class="group-icon" alt="" src="./public/group.svg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}