.frame-child,
.frame-item {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 720px;
}

.frame-child {
  left: 0;
  background-color: #95cec7;
  overflow: hidden;
}

.frame-item {
  left: 720px;
  background-color: var(--color-white);
}

.tdi-webtool {
  height: 31px;
  position: relative;
  display: inline-block;
}

.main-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-logo-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  flex-shrink: 0;
  font-size: 20.7px;
  color: #000103;
}

.please-enter-your,
.sign-up {
  position: relative;
  line-height: 150%;
}

.sign-up {
  width: 142px;
  letter-spacing: 0.05em;
  font-weight: 600;
  display: inline-block;
  text-shadow: 0.6px 0 0#074c3b, 0 0.6px 0#074c3b, -0.6px 0 0#074c3b,
    0-0.6px 0#074c3b;
  white-space: nowrap;
  padding-right: var(--padding-xl);
}

.please-enter-your {
  font-size: var(--font-size-lg-8);
  letter-spacing: 0.1em;
  font-weight: 300;
  color: var(--color-black);
}

.already-have-account-text,
.vector-vector-frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.vector-vector-frame {
  gap: 17.6px;
}

.already-have-account-text {
  flex-shrink: 0;
  font-size: 29.3px;
  color: #0a362e;
}

.iconamoonprofile-fill {
  height: 9.4px;
  width: 9.4px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.first-name {
  width: 72px;
  position: relative;
  letter-spacing: 0.15em;
  font-weight: 600;
  display: inline-block;
  padding-right: var(--padding-xl);
}

.email-frame,
.login-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.email-frame {
  flex: 1;
  min-width: 72px;
  min-height: 29px;
}

.login-btn {
  align-self: stretch;
  background-color: var(--color-white);
  border-bottom: 0.6px solid var(--color-black);
  padding: 0 var(--padding-5xs) 0 7.624864101409912px;
  gap: 10.56px;
}

.iconamoonprofile-fill1 {
  height: 9.4px;
  width: 9.4px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.last-name {
  width: 71px;
  position: relative;
  letter-spacing: 0.15em;
  font-weight: 600;
  display: inline-block;
  padding-right: var(--padding-xl);
}

.last-name-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 71px;
  min-height: 29px;
}

.logo-frame,
.sign-up-frame {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}

.logo-frame {
  background-color: var(--color-white);
  border-bottom: 0.6px solid var(--color-black);
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-5xs) 0 7.624864101409912px;
  gap: 10.56px;
}

.sign-up-frame {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11xl-5);
  flex-shrink: 0;
}

.iconamoonprofile-fill2 {
  height: 9.4px;
  width: 9.4px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.email {
  width: 47px;
  position: relative;
  letter-spacing: 0.15em;
  font-weight: 600;
  display: inline-block;
  padding-right: var(--padding-xl);
}

.email-wrapper,
.iconamoonprofile-fill-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.email-wrapper {
  flex: 1;
  min-width: 47px;
  min-height: 29px;
}

.iconamoonprofile-fill-parent {
  align-self: stretch;
  background-color: var(--color-white);
  border-bottom: 0.6px solid var(--color-black);
  padding: 0 var(--padding-5xs) 0 7.624864101409912px;
  gap: 10.56px;
}

.iconamoonprofile-fill3 {
  height: 9.4px;
  width: 9.4px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.phone-number {
  width: 91px;
  position: relative;
  letter-spacing: 0.15em;
  font-weight: 600;
  display: inline-block;
  padding-right: var(--padding-xl);
}

.phone-number-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 91px;
  min-height: 29px;
}

.password1-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 91px;
  min-height: 29px;
}

.password1 {
  width: 91px;
  position: relative;
  letter-spacing: 0.15em;
  font-weight: 600;
  display: inline-block;
  padding-right: var(--padding-xl);
}

.password2-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 91px;
  min-height: 29px;
}

.password2 {
  width: 91px;
  position: relative;
  letter-spacing: 0.15em;
  font-weight: 600;
  display: inline-block;
  padding-right: var(--padding-xl);
}

.iconamoonprofile-fill-group,
.sign-up-frame1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}

.iconamoonprofile-fill-group {
  background-color: var(--color-white);
  border-bottom: 0.6px solid var(--color-black);
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-5xs) 0 7.624864101409912px;
  gap: 10.56px;
}

.sign-up-frame1 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11xl-5);
  flex-shrink: 0;
}

.signup {
  position: relative;
  font-weight: 600;
}

.login-btn1,
.sign-up-frame2 {
  display: flex;
  justify-content: flex-start;
}

.login-btn1 {
  flex: 1;
  border-radius: 13.12px;
  background-color: #92c6d6;
  border: 1.2px solid #3a6551;
  flex-direction: column;
  align-items: center;
  padding: 5.216002941131592px 0;
}

.sign-up-frame2 {
  width: 125.6px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 0 21px 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: var(--font-size-lg-8);
  color: #f8fff8;
}

.already-have-an,
.sign-in {
  position: relative;
  font-weight: 300;
}

.sign-in {
  text-decoration: underline;
  color: #0e2e15;
  text-shadow: 0.4px 0 0 rgba(0, 0, 0, 0.1), 0 0.4px 0 rgba(0, 0, 0, 0.1),
    -0.4px 0 0 rgba(0, 0, 0, 0.1), 0-0.4px 0 rgba(0, 0, 0, 0.1);
}

.sign-in-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: 8px;
  flex-shrink: 0;
  font-size: var(--font-size-5xs-8);
  color: var(--color-black);
  font-family: var(--font-lexend);
}

.about-us-icon,
.research-team-gallery,
.research-team-gallery1 {
  height: 24.3px;
  width: 26.7px;
  position: relative;
  min-height: 24px;
}

.about-us-icon,
.research-team-gallery1 {
  width: 25.2px;
}

.about-us-icon {
  height: 24.6px;
  width: 25.6px;
  min-height: 25px;
}

.h-o-m-e {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-10xl);
  flex-shrink: 0;
}

.sign-up-frame-child {
  align-self: stretch;
  height: 38.7px;
}

.contact-us,
.sign-up-frame3 {
  margin: 0 !important;
  position: absolute;
  z-index: 1;
}

.sign-up-frame3 {
  width: 105.6px;
  top: 225.1px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.contact-us {
  width: 93.9px;
  height: 24.6px;
  top: 443.3px;
  left: 19.6px;
}

.first-name-frame,
.last-name-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.last-name-frame {
  align-self: stretch;
  position: relative;
  gap: var(--gap-10xl);
}

.first-name-frame {
  width: 273px;
  padding: 39px 0 0;
  box-sizing: border-box;
  min-width: 273px;
}

.about-us,
.contact-us1,
.gallery,
.home,
.research,
.team {
  position: relative;
  letter-spacing: 0.13em;
}

.contact-us1 {
  text-align: center;
}

.first-name-frame-parent,
.header-nav-bar {
  border-radius: var(--br-38xl) 0 0 var(--br-38xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}

.header-nav-bar {
  flex: 1;
  background-color: #457875;
  justify-content: space-between;
  padding: var(--padding-25xl) 51px var(--padding-25xl) 52px;
  min-width: 327px;
  min-height: 690px;
  gap: 20px;
  font-size: var(--font-size-2xs-3);
  color: var(--color-snow);
}

.first-name-frame-parent {
  position: absolute;
  top: 68px;
  left: 100px;
  background-color: var(--color-white);
  width: 1240px;
  overflow: hidden;
  justify-content: flex-start;
  padding: 0 0 0 174px;
  gap: 173px;
  z-index: 1;
}

.frame-parent {
  height: 765px;
  flex: 1;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xs-6);
  color: var(--color-silver);
  font-family: var(--font-poppins);
}

.header-frame {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  letter-spacing: normal;
}

@media screen and (max-width: 1000px) {
  .first-name-frame {
    flex: 1;
  }
}

@media screen and (max-width: 975px) {
  .header-nav-bar {
    min-height: auto;
  }

  .first-name-frame-parent {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }

  .frame-parent {
    height: auto;
    min-height: 760;
  }
}

@media screen and (max-width: 725px) {
  .header-nav-bar {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 450px) {
  .tdi-webtool {
    font-size: 17px;
  }

  .sign-up {
    font-size: 23px;
    line-height: 35px;
  }

  .iconamoonprofile-fill-group,
  .iconamoonprofile-fill-parent,
  .login-btn,
  .logo-frame {
    flex-wrap: wrap;
  }
}